body{
    text-align: center;
}
#img1{
    height: 500px;
    width: 500px
}
.my_nav_bar{
  position:sticky;
    top:0;
    z-index: 99999;
}
#map iframe{
    width: 50%;
    float: left;
    padding-top: 5px;
}
#vedio{
    height: 500px;
    width: 100%;
}
#details{
    
}